
//header background
$linearGradient1: rgb(171,0,161);
$linearGradient1-moz: -moz-linear-gradient(270deg, rgba(171,0,161,1) 1%, rgba(227,111,220,1) 100%);
$linearGradient1-webkit: -webkit-linear-gradient(270deg, rgba(171,0,161,1) 1%, rgba(227,111,220,1) 100%);
$linearGradient1-linear: linear-gradient(270deg, rgba(171,0,161,1) 1%, rgba(227,111,220,1) 100%);
$linearGradient1-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ab00a1",endColorstr="#e36fdc",GradientType=1);

//menu background
$menuBackground: #f2f2f2;

//header title
$whiteColor: #fff;
$textColor1: #3d3d3d;
$textColor2: #b77723;
$textColor3: #db2ed3ff;
$textColor4: #AB00A1;

//hamburger button
$navButton: #AB00A1;

//button background colors
$contactButton: #AB00A1;
$subButton: #df00d0;
$hoverButton: #df00d0;

//back to top button
$backToTopButton: #AB00A1;
//border
$borderLine: #b77723;
$borderLine1:rgb(125, 79, 19);
$borderSM: #3d3d3d;
$borderForm: #d8d8d8;

//box shadow 
$boxShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
$boxShadow1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$boxShadow2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$whiteBoxShadow: 0 4px 15px rgba(255, 255, 255, 0.2);

//box item background

$boxBackground: #e0e0e0;