
//header background
$linearGradient1: rgba(27, 106, 158, 1);
$linearGradient1-moz: -moz-linear-gradient(276deg, rgba(27, 106, 158, 1) 0%, rgba(79, 145, 189, 1) 79%);
$linearGradient1-webkit: -webkit-linear-gradient(276deg, rgba(27, 106, 158, 1) 0%, rgba(79, 145, 189, 1) 79%);
$linearGradient1-linear: linear-gradient(276deg, rgba(27, 106, 158, 1) 0%, rgba(79, 145, 189, 1) 79%);
$linearGradient1-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1B6A9E",endColorstr="#4F91BD",GradientType=1);

//menu background
$menuBackground: #f2f2f2;

//header title
$whiteColor: #fff;
$textColor1: #3d3d3d;
$textColor2: #b77723;
$textColor3: #1b6a9e;
$textColor4: #1b6a9e;

//hamburger button
$navButton: #1b6a9e;

//button background colors
$contactButton: #1b6a9e;
$subButton: #1b6a9e;
$hoverButton: #044a78;

//back to top button
$backToTopButton: #1b6a9e;
//border
$borderLine: #b77723;
$borderLine1:rgb(125, 79, 19);
$borderSM: #3d3d3d;
$borderForm: #d8d8d8;

//box shadow 
$boxShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
$boxShadow1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$boxShadow2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$whiteBoxShadow: 0 4px 15px rgba(255, 255, 255, 0.2);

//box item background

$boxBackground: #e0e0e0;