@import "Colors.scss";

.get-app-container {
  width: 100%;
  max-width: 1440px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
  .get-app-content {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url("../../public/assets/black-download-bg.png") no-repeat
      center;
    background-color: #000;
    border-radius: 8px;

    .get-app {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text-content {
        margin: 0 50px;
        color: #fff;
        h2 {
          font-size: 48px;
        }
        p {
          font-size: 18px;
          line-height: 28px;
        }

        .get-app-button {
          max-width: 204px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #fff;
          border-radius: 8px;
          background-color: #fff;
          padding: 14px 22px;
          text-align: center;
          color: #000;
          outline: 0;
          transition: all 0.2s ease;
          text-decoration: none;

          &:hover {
            box-shadow: $whiteBoxShadow;
          }

          .icon {
            height: 1.5rem;
            width: 1.5rem;
          }

          .texts {
            margin-left: 1rem;
            display: flex;
            gap: 2px;
            flex-direction: column;
            align-items: flex-start;
            line-height: 1;

            &-1 {
              margin-bottom: 0.25rem;
              font-size: 0.75rem;
              line-height: 1rem;
            }
          }
        }
      }
    }

    .mobile-image {
      display: flex;
      justify-content: flex-end;

      img {
        width: 100%;
        max-width: 600px;
        border-radius: 0 8px 8px 0;
      }
    }
  }
}

@media (max-width: 1140px) {
  .get-app-container {
    .get-app-content {
      background: url("../../public/assets/black-download-bg.png") no-repeat
        center;
      border-radius: 8px;

      .mobile-image {
        width: 600px;
      }
    }
  }
}

@media (max-width: 980px) {
  .get-app-container {
    .get-app-content {
      width: 100%;
      max-width: 1440px;
      min-height: 1000px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      background: black;
      border-radius: 8px;

      .get-app {
        width: 100%;
        padding: 100px 0;

        .text-content {
          margin: 0 50px;
          color: #fff;
          text-align: center;
          h2 {
            font-size: 40px;
          }
        }
      }

      .mobile-image {
        width: 100%;

        img{
            width: 100%;
        }
      }
    }
  }
}
