@import "Colors.scss";

.nav-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 99;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .icon-toggle {
    cursor: pointer;

    .hamburger-react {
      color: $textColor1;
      z-index: 9999;
    }
  }

  .logo-container {
    width: 100%;
    max-width: 150px;

    img {
      width: 100px;
    }
  }
}

@media (max-width: 1024px) {
  .nav-container {
    .logo-container {
      width: 100%;
      max-width: 200px;

      img {
        width: 120px;
      }
    }
  }
}
